@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../icons/icons.eot");
  src: url("../icons/icons.eot?#iefix") format("embedded-opentype"), url("../icons/icons.woff?") format("woff"), url("../icons/icons.ttf?") format("truetype"), url("../icons/icons.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "proxima_nova"; }

.view-slide-left.ng-enter,
.view-slide-left.ng-leave,
.view-slide-right.ng-enter,
.view-slide-right.ng-leave {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.view-slide-left.ng-enter {
  -webkit-transform: translate(100%, 0);
  opacity: 0; }

.view-slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translate(0, 0);
  opacity: 1; }

.view-slide-left.ng-leave {
  -webkit-transform: translate(0, 0);
  opacity: 1; }

.view-slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translate(-100%, 0);
  opacity: 0; }

.view-slide-right.ng-enter {
  -webkit-transform: translate(-100%, 0);
  opacity: 0; }

.view-slide-right.ng-enter.ng-enter-active {
  -webkit-transform: translate(0, 0);
  opacity: 1; }

.view-slide-right.ng-leave {
  -webkit-transform: translate(0, 0);
  opacity: 1; }

.view-slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translate(100%, 0);
  opacity: 0; }

.fade-in-out, .slide-up-down, .icon-slide-right-side, .icon-slide-left-side {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.fade-in-out.ng-enter-stagger {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-duration: 0;
  transition-duration: 0; }

.fade-in-out.ng-hide-remove,
.fade-in-out.ng-hide-add.ng-hide-add-active,
.fade-in-out.ng-enter,
.fade-in-out.ng-leave.ng-leave-active {
  opacity: 0;
  display: block !important; }

.fade-in-out.ng-hide-add,
.fade-in-out.ng-hide-remove.ng-hide-remove-active,
.fade-in-out.ng-leave,
.fade-in-out.ng-enter.ng-enter-active {
  opacity: 1;
  display: block !important; }

.slide-up-down.ng-hide-remove,
.slide-up-down.ng-hide-add.ng-hide-add-active {
  height: 0;
  opacity: 0;
  display: block !important; }

.slide-up-down.ng-hide-add,
.slide-up-down.ng-hide-remove.ng-hide-remove-active {
  height: 40px;
  opacity: 1;
  display: block !important; }

.slide-up-down.ng-hide-add,
.slide-up-down.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: scaleY(1);
  opacity: 1;
  display: block !important; }

.icon-slide-right-side.ng-hide-remove,
.icon-slide-right-side.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translate(100%, 0);
  display: block !important; }

.icon-slide-right-side.ng-hide-add,
.icon-slide-right-side.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translate(0, 0);
  display: block !important; }

.icon-slide-left-side.ng-hide-remove,
.icon-slide-left-side.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translate(-200%, 0);
  display: block !important; }

.icon-slide-left-side.ng-hide-add,
.icon-slide-left-side.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translate(0, 0);
  display: block !important; }

.modalconfirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .5s;
  text-align: center; }
  .modalconfirm .confirmbox {
    position: absolute;
    padding: 10px;
    max-width: 200px;
    background: #282828;
    border-radius: 10px;
    border: 1px solid #111;
    color: #fff;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -61px; }
  .modalconfirm button {
    display: inline-block; }
  .modalconfirm .confirm {
    background: #00503F;
    border: none;
    box-shadow: none; }
  .modalconfirm .deny {
    background: #900022;
    border: none;
    box-shadow: none; }

#exerciseenter header {
  padding-top: 15px;
  display: block; }
#exerciseenter h1 {
  font-size: 1.5em;
  margin: 10px 50px; }
#exerciseenter label {
  display: block;
  margin-top: 15px;
  font-size: 1em; }
#exerciseenter input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #EBEAE6; }
#exerciseenter ul {
  width: 100%;
  height: 200px;
  margin-top: 10px; }
#exerciseenter li {
  display: inline-block;
  position: relative; }

#resultbuttons {
  margin-top: 25px; }

.success {
  position: relative;
  padding: 10px 50px;
  background: #00503F;
  color: #fff;
  box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px; }

.fail {
  padding: 10px 50px;
  background: #900022;
  color: #FFFECB;
  box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px; }

#timer {
  display: block;
  margin-top: 50px;
  height: auto; }
  #timer .start, #timer .stop {
    box-sizing: border-box;
    margin: 25px auto 0 auto;
    display: block;
    width: 40px;
    padding: 20px 50px 20px 15px;
    color: #fff;
    border-radius: 50px;
    box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
    text-shadow: -1px -1px #000; }
  #timer .start {
    background: #900022; }
  #timer .stop {
    background: #6B696D; }

::-webkit-input-placeholder {
  color: #ABABA8; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ABABA8; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ABABA8; }

:-ms-input-placeholder {
  color: #ABABA8; }

button {
  border: none;
  background: none;
  padding: 0; }
  button:focus {
    outline: 0; }

header {
  text-align: center;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  line-height: 50px; }
  header h1 {
    position: relative;
    display: block;
    color: #E1CCAD; }
  header button {
    position: absolute;
    line-height: 50px;
    color: #712D1D;
    top: 0; }

.left {
  position: absolute;
  left: 0;
  padding-left: 16px; }

.right {
  position: absolute;
  right: 0;
  padding-right: 16px; }

input {
  padding: 0;
  color: #4C4C4C;
  background: #f8f7f2; }

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #EBEAE6;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.header-bar {
  position: absolute;
  top: 0;
  height: 50px;
  background: #b1462d;
  width: 100%; }

#groups-page, #new-group, #exerciseenter, #workout {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  box-sizing: border-box; }

#groups-page .add-group {
  font-size: 2em; }
#groups-page .intro-text {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #f8f7f2;
  color: #040E0F;
  text-align: center; }
  #groups-page .intro-text p {
    color: #4C4C4C;
    border-top: 1px solid #EBEAE6;
    padding: 15px 5%; }
#groups-page .autofill {
  color: #373a3a;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid #373a3a; }
#groups-page ul {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  background: #f8f7f2; }
  #groups-page ul li {
    position: relative;
    border-top: 1px solid #EBEAE6;
    left: 0; }
    #groups-page ul li ul {
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden; }
      #groups-page ul li ul li {
        font-size: .9em;
        line-height: 40px;
        max-height: 40px;
        border: none; }
        #groups-page ul li ul li:last-child {
          text-align: center; }
  #groups-page ul .exercise-info {
    font-size: .8em;
    color: grey;
    top: 20px;
    left: 41px;
    padding: 0; }
#groups-page .exercise-name, #groups-page .group-name {
  text-align: left;
  padding-left: 40px;
  width: 100%; }
#groups-page .group-name {
  position: relative;
  font-size: 1em;
  top: 1px;
  line-height: 50px; }
#groups-page .group-action-button {
  font-size: .9em;
  line-height: 50px;
  background: #f8f7f2;
  top: 1px; }
#groups-page .icon-expand-list-down, #groups-page .icon-expand-list-up, #groups-page .icon-group-delete {
  position: absolute;
  margin-left: 16px;
  top: 1px; }
#groups-page .icon-expand-list-up {
  -webkit-transform: rotate(-180deg) translateY(4px); }
#groups-page .icon-expand-list-down:before, #groups-page .icon-expand-list-up:before {
  content: '\e601';
  line-height: 50px; }
#groups-page .icon-exercise-delete:before,
#groups-page .icon-group-delete:before {
  content: "\e600";
  color: #C83029;
  font-size: 1.1em;
  position: relative; }
#groups-page .icon-exercise-delete {
  line-height: 40px; }
#groups-page .icon-group-delete {
  line-height: 50px;
  top: -1px; }
#groups-page .confirm-delete-exercise, #groups-page .confirm-delete-group {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  background: #C83029;
  color: #EBEAE6; }
#groups-page .confirm-delete-exercise {
  padding: 0 3px;
  line-height: 40px; }
#groups-page .confirm-delete-group {
  line-height: 50px;
  padding: 0 15px; }
#groups-page .delete-active {
  width: 100px; }

#new-group input, #edit-group input {
  position: absolute;
  left: 0;
  top: 100px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0;
  box-sizing: border-box; }
