@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../icons/icons.eot");
  src: url("../icons/icons.eot?#iefix") format("embedded-opentype"), url("../icons/icons.woff?") format("woff"), url("../icons/icons.ttf?") format("truetype"), url("../icons/icons.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.autofill {
  color: #373A3A;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid #373A3A; }

.group:after {
  content: "";
  display: table;
  clear: both; }

header, h1, h2, label {
  color: #373A3A;
  background: none;
  font-family: 'proxima_nova';
  font-size: 1.5em; }

.right {
  right: -100%; }

.left {
  right: 100%; }

.slideIn {
  right: 0%; }

#slidingcontent {
  position: relative;
  height: 476px; }

.modalconfirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .5s;
  text-align: center; }
  .modalconfirm .confirmbox {
    position: absolute;
    padding: 10px;
    max-width: 200px;
    background: #282828;
    border-radius: 10px;
    border: 1px solid #111;
    color: #fff;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -61px; }
  .modalconfirm button {
    display: inline-block; }
  .modalconfirm .confirm {
    background: #00503F;
    border: none;
    box-shadow: none; }
  .modalconfirm .deny {
    background: #900022;
    border: none;
    box-shadow: none; }

.invisible {
  opacity: 0; }

.visible {
  opacity: 1; }

#exercisegroupnamer, #exerciseenter, #exercisepicker, #workout {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  box-sizing: border-box; }

#exerciseenter header {
  padding-top: 15px;
  display: block; }
#exerciseenter h1 {
  font-size: 1.5em;
  margin: 10px 50px; }
#exerciseenter label {
  display: block;
  margin-top: 15px;
  font-size: 1em; }
#exerciseenter input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #EBEAE6; }
#exerciseenter ul {
  width: 100%;
  height: 200px;
  margin-top: 10px; }
#exerciseenter li {
  display: inline-block;
  position: relative; }

#resultbuttons {
  margin-top: 25px; }

.success {
  position: relative;
  padding: 10px 50px;
  background: #00503F;
  color: #fff;
  box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px; }

.fail {
  padding: 10px 50px;
  background: #900022;
  color: #FFFECB;
  box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px; }

#timer {
  display: block;
  margin-top: 50px;
  height: auto; }
  #timer .start, #timer .stop {
    box-sizing: border-box;
    margin: 25px auto 0 auto;
    display: block;
    width: 40px;
    padding: 20px 50px 20px 15px;
    color: #fff;
    border-radius: 50px;
    box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
    text-shadow: -1px -1px #000; }
  #timer .start {
    background: #900022; }
  #timer .stop {
    background: #6B696D; }

.disabled {
  background-image: none;
  background-color: #848484;
  background-color: #A0A1A0;
  color: #383838;
  cursor: default; }

@media (max-width: 5000px) {
  header, h1, h2, label {
    font-size: 1em; }

  ::-webkit-input-placeholder {
    color: #ABABA8; }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #ABABA8; }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ABABA8; }

  :-ms-input-placeholder {
    color: #ABABA8; }

  button {
    border: none;
    background: none;
    padding: 0; }
    button:focus {
      outline: 0; }

  input {
    padding: 0;
    color: #4C4C4C;
    background: #F8F7F2; }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #EBEAE6;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

  .header-bar {
    position: absolute;
    top: 0;
    height: 50px;
    background: #b1462d;
    width: 100%; }

  .remove {
    opacity: 0; }

  #exercisepicker header, #exercisegroupnamer header {
    text-align: center;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    line-height: 50px; }
    #exercisepicker header h1, #exercisegroupnamer header h1 {
      position: relative;
      display: block;
      color: #E1CCAD; }
    #exercisepicker header button, #exercisegroupnamer header button {
      position: absolute;
      line-height: 50px;
      color: #712D1D;
      top: 0; }
      #exercisepicker header button[disabled], #exercisegroupnamer header button[disabled] {
        background-color: #848484;
        background-color: #EBEAE6;
        border: 1px solid #ABABA8;
        color: #ABABA8; }

  #exercisepicker header button {
    font-size: 2em;
    right: 0;
    padding-right: 16px;
    color: #712D1D; }
  #exercisepicker .intro-text {
    position: absolute;
    top: 50px;
    width: 100%;
    background: #F8F7F2;
    color: #040E0F;
    text-align: center; }
    #exercisepicker .intro-text p {
      color: #4C4C4C;
      border-top: 1px solid #EBEAE6;
      padding: 15px 5%; }
  #exercisepicker ul {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background: #F8F7F2; }
    #exercisepicker ul li {
      position: relative;
      border-top: 1px solid #EBEAE6;
      left: 0; }
      #exercisepicker ul li ul {
        position: relative;
        display: none;
        top: 0;
        left: 0;
        border-top: 3px solid #EBEAE6;
        border-bottom: 3px solid #EBEAE6; }
        #exercisepicker ul li ul li {
          left: 0;
          padding-left: 16px;
          font-size: .9em;
          line-height: 40px;
          border: none; }
  #exercisepicker .groupbutton {
    position: relative;
    width: 100%;
    font-size: 1em;
    text-align: left;
    padding-left: 40px;
    border-top: 1px solid #EBEAE6;
    line-height: 50px; }
  #exercisepicker .startworkout {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 16px;
    line-height: 50px; }
  #exercisepicker .icon-expand-list-down, #exercisepicker .icon-expand-list-up {
    position: absolute;
    margin-left: 16px;
    transition: all .5s;
    top: 1px; }
  #exercisepicker .icon-expand-list-up {
    -webkit-transform: rotate(-180deg) translateY(4px); }
  #exercisepicker .icon-expand-list-down:before, #exercisepicker .icon-expand-list-up:before {
    content: '\e601';
    line-height: 50px; }
  #exercisepicker .up {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  #exercisepicker .icon-exercise-delete {
    transition: all .5s;
    margin-right: 5px; }
  #exercisepicker .icon-exercise-delete:before {
    content: "\e600";
    color: #C83029;
    font-size: 1.1em;
    line-height: 40px; }
  #exercisepicker .active {
    -webkit-transform: translateX(-100px); }
  #exercisepicker .exercise-edit {
    position: absolute;
    right: 0;
    padding-right: 16px; }
  #exercisepicker .confirm-delete {
    position: absolute;
    right: 0;
    width: 0;
    transition: all .5s;
    background: #C83029;
    color: #EBEAE6; }
  #exercisepicker .delete-active {
    width: 100px; }

  #exercisegroupnamer .groups-back {
    left: 0;
    padding-left: 16px; }
  #exercisegroupnamer .namerproceed {
    right: 0;
    padding-right: 16px;
    transition: all .7s; }
    #exercisegroupnamer .namerproceed[disabled] {
      background: #b1462d;
      color: #b1462d;
      border: none; }
  #exercisegroupnamer input {
    position: absolute;
    left: 0;
    top: 100px;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    box-sizing: border-box; } }
