@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");
.group:after {
  content: "";
  display: table;
  clear: both; }

html {
  background: #dcd6dd; }

header, h1, h2 {
  color: #000;
  background: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em; }

.container {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 90%;
  height: 500px;
  margin: 5%;
  padding: 20px;
  background: #C0BFCB;
  box-shadow: inset -1px 0px 3px #6B696D, inset 1px 2px 3px #6B696D;
  border-radius: 10px;
  overflow: hidden; }

#slidingcontent {
  position: relative; }

#exercisepicker {
  position: relative;
  width: 100%;
  text-align: center; }
  #exercisepicker label {
    display: block;
    margin-top: 15px; }
  #exercisepicker input {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 0; }
  #exercisepicker .donebutton, #exercisepicker .nextexercisebutton {
    position: relative;
    display: block;
    padding: 10px 100px 10px 30px;
    color: #fff;
    max-width: 100px;
    margin: 0 auto; }
  #exercisepicker .donebutton {
    margin-top: 40px;
    background: #00503F;
    box-shadow: -1px 0px 3px #6B696D;
    border-radius: 50px 50px 0 0; }
  #exercisepicker .nextexercisebutton {
    margin-bottom: 70px;
    background: #900022;
    box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
    border-radius: 0 0 50px 50px; }

#workout {
  text-align: center;
  width: 100%;
  padding-top: 50px; }

.resultbuttons {
  margin-top: 25px; }

.success {
  position: relative;
  padding: 10px 50px;
  background: #00503F;
  color: #fff;
  box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px; }

.fail {
  padding: 10px 50px;
  background: #900022;
  color: #FFFECB;
  box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px; }

.timer {
  display: block;
  margin-top: 50px;
  height: auto; }
  .timer .start, .timer .stop {
    box-sizing: border-box;
    margin: 25px auto 0 auto;
    display: block;
    width: 40px;
    padding: 20px 50px 20px 15px;
    color: #fff;
    border-radius: 50px;
    box-shadow: -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
    text-shadow: -1px -1px #000; }
  .timer .start {
    background: #900022; }
  .timer .stop {
    background: #6B696D; }
