$red: #900022;
$background: #000;
$height: 476px;
 
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");

.autofill{
  color:#fff;
  background-color:#900022;
  padding:10px;
  border-radius:5px;
  position:absolute;
  bottom:0;
  right:0;
}

.group:after {
  content: "";
  display: table;
  clear: both; 

}
html{
  background:$background;
}

header, h1, h2, label{
  color:#fff;
  background:none;
  font-family: 'Roboto', Arial, sans-serif; font-weight: 300; 
  font-size:1.5em;
}

.container{
  position:relative;
  box-sizing:border-box;
  float:left;
  width:90%;
  height:500px;
  margin:5%;
  box-shadow: inset -1px 0px 3px #262421, inset 1px 2px 3px #262421;
  border-radius:10px;
  background:#383838;
  overflow:hidden;
}

.right{
  right:-100%;
}

.left{
  right:100%;
}

.slideIn{
  right:0%;
}

#slidingcontent{
  position:relative;
  height:$height;
}

button{
  position:relative;
  text-align:center;
  display:block;
  padding: 5px 5px;
  color:#fff;
  outline:none;
  max-width:100px;
  margin:10px auto;
  border-radius: 5px;
  border:1px solid #000;
  background-image: linear-gradient(#6293B2, #385466 );
  box-shadow: inset -1px -1px #98A8B2, inset 0 1px #98A8B2, inset 1px 0 #98A8B2;  
  &[disabled]{
    background-image:none;
    background-color:#848484;
    color: #383838;
  }
}

.groupbutton{
  position:relative;
  text-align:center;
  display:block;
  padding: 5px 5px;
  color:#fff;
  max-width:200px;
  margin:0 auto;
  border-radius: 5px;
  border:1px solid #000;
  background-image: linear-gradient(#6293B2, #385466 );
  box-shadow: inset -1px -1px #98A8B2, inset 0 1px #98A8B2, inset 1px 0 #98A8B2;  
}

#exercisegroupnamer,#exerciseenter, #exercisepicker, #workout{
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position:absolute;
  text-align:center;
  height:100%;
  width:100%;
  padding:20px;
  top:0;
  box-sizing:border-box;
}

#exercisegroupnamer{
  top:0;
    header{
      padding-top:50px;
    }
    input{
      padding:10px;
      border-radius:5px;
    }
}

#exerciseenter{
  header{
    padding-top:15px;
    display:block;

  }
  h1{
    font-size:1.5em;
    margin: 10px 50px;
  }
  label{
    display:block;
    margin-top:15px;
    font-size:1em;
    
  }
  input{
    display:block;
    margin:0 auto;
    width:80%;
    max-width: 500px;
    border-radius: 5px;
    padding:10px 0;
  }
  ul{
    width:100%;
    height:100px;
    margin-top:10px;
  }
  li{
    width:500px;
    margin:0 auto;
  }

  button{
    position:relative;
    float:left;
  }

}



#exercisepicker{
  header{
    color:#fff;
  }
  input{
    color:#000;
    display:block;
  }
}



#resultbuttons{
  margin-top:25px;
}
.success{
  position:relative;
  padding:10px 50px;
  background:#00503F;
  color:#fff;
  box-shadow:  -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px;
}

.fail{
  padding:10px 50px;
  background: #900022;
  color:#FFFECB;
  box-shadow:  -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px;
}

#timer{
  display:block;
  margin-top:50px;
  height:auto;
  .start,.stop{
    box-sizing: border-box;
    margin:25px auto 0 auto;
    display:block;
    width:40px;
    padding:20px 50px 20px 15px;
    
    color:#fff;
    border-radius: 50px;
    box-shadow:  -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
    text-shadow: -1px -1px #000;

  }
  .start{
    background: #900022;

  }
  .stop{
    background:#6B696D;
  }
}

.disabled{
  background-image:none;
  background-color:#848484;
  color: #383838;
  cursor: default;
}

@media (max-width:520px){
  header, h1, h2, label{
    font-size:1em;
  }
  button{
    font-size:.7em;
    padding:7px;
  }
}