$red: #900022;
$background: #78A8B9;
$background: #53A491;
$background: #B1462D;
$height: 476px;
$headerHeight: 50px;

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icons';
  src:url('../icons/icons.eot');
  src:url('../icons/icons.eot?#iefix') format('embedded-opentype'),
    url('../icons/icons.woff?') format('woff'),
    url('../icons/icons.ttf?') format('truetype'),
    url('../icons/icons.svg?#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");

.autofill{
  color:#373A3A;
  padding:3px;
  border-radius:5px;
  border: 2px solid #373A3A;
}

.group:after {
  content: "";
  display: table;
  clear: both; 
}

// html{
//   background:$background;
// }

// body{
//   overflow:hidden;
// }

header, h1, h2, label{
  color:#373A3A;
  background:none;
  // font-family: 'Roboto', Arial, sans-serif; font-weight: 300; 
  font-family: 'proxima_nova';
  font-size:1.5em;
}

.right-slide{
  right:-100%;
}

.left-slide{
  right:100%;
}

.slide-in{
  right:0%;
}

#slidingcontent{
  position:relative;
  height:$height;
}

.modalconfirm{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.5);
  transition: opacity .5s;
  text-align:center;
  .confirmbox{
    position:absolute;
    padding:10px;
    max-width:200px;
    background:#282828;
    border-radius:10px;
    border: 1px solid #111;
    color:#fff;
    left:50%;
    margin-left:-100px;
    top:50%;
    margin-top:-61px;
  }
  button{
    display:inline-block;
  }
  .confirm{
    background:#00503F;
    border:none;
    box-shadow:none;
  }
  .deny{
    background:#900022;
    border:none;
    box-shadow:none;
  }
}

.invisible{
  opacity:0;
}
.visible{
  opacity:1;
}

#group-namer,#exerciseenter, #groups-page, #workout{
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  box-sizing:border-box;
}

#exerciseenter{
  header{
    padding-top:15px;
    display:block;

  }
  h1{
    font-size:1.5em;
    margin: 10px 50px;
  }
  label{
    display:block;
    margin-top:15px;
    font-size:1em;
    
  }
  input{
    display:block;
    margin:0 auto;
    width:100%;
    height:50px;
    border:none;
    border-bottom:1px solid #EBEAE6;
  }
  ul{
    width:100%;
    height:200px;
    margin-top:10px;
  }
  li{
    display:inline-block;
    position:relative;
  }
  .prevexercisebutton{
      
    }
}

#resultbuttons{
  margin-top:25px;
}
.success{
  position:relative;
  padding:10px 50px;
  background:#00503F;
  color:#fff;
  box-shadow:  -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px;
}

.fail{
  padding:10px 50px;
  background: #900022;
  color:#FFFECB;
  box-shadow:  -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
  border-radius: 50px;
}

#timer{
  display:block;
  margin-top:50px;
  height:auto;
  .start,.stop{
    box-sizing: border-box;
    margin:25px auto 0 auto;
    display:block;
    width:40px;
    padding:20px 50px 20px 15px;
    
    color:#fff;
    border-radius: 50px;
    box-shadow:  -1px 0px 3px #6B696D,  1px 2px 3px #6B696D;
    text-shadow: -1px -1px #000;

  }
  .start{
    background: #900022;

  }
  .stop{
    background:#6B696D;
  }
}

.disabled{
  background-image:none;
  background-color:#848484;
  background-color:#A0A1A0;
  color: #383838;
  cursor: default;
}

// @media(min-width:1100px){
//   .container{
//     display:block;
//     max-width:1000px;
//     left:50%;
//     margin-left:-500px;
//   }
//   #group-namer,#exerciseenter, #groups-page, #workout{
//   -webkit-transition: all .5s ease-in-out;
//   transition: all .5s ease-in-out;
//   position:absolute;
//   text-align:center;
//   height:100%;
//   width:100%;
//   padding:20px;
//   top:0;
//   box-sizing:border-box;
//   }
// }

@media (max-width:5000px){
  header, h1, h2, label{
    font-size:1em;
  }
  ::-webkit-input-placeholder {
    color: #ABABA8;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #ABABA8;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #ABABA8;  
  }

  :-ms-input-placeholder {  
   color: #ABABA8;  
  }
  button{
    border:none;
    background:none;
    padding:0;
    &:focus{
      outline:0;
    }
  }
  header{
    text-align:center;
    height:$headerHeight;
    width:100%;
    position:absolute;
    top:0;
    line-height:$headerHeight;
    h1{
      position:relative;
      display:block;
      color:#E1CCAD;
    }
    button{
      position:absolute;
      line-height:$headerHeight;
      color:#712D1D;
      top:0;
      transition: all .7s;
      &[disabled]{
        opacity:0;
      }
    }
  }
  .left{
    position:absolute;
    left:0;
    padding-left:16px;
  }
  .right{
    position:absolute;
    right:0;
    padding-right:16px;
  }
  input{
    padding:0;
    color:#4C4C4C;
    background:#F8F7F2;
  }
  .container{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    background:#EBEAE6;
    cursor:pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .header-bar{
    position:absolute;
    top:0;
    height:$headerHeight;
    background:$background;
    width:100%;
  }
  .remove{
    opacity:0;
  }
#groups-page, #group-namer{ 

}
#groups-page{
  .add-group{
    font-size:2em;
  }
  .intro-text{
    position:absolute;
    top:$headerHeight;
    width:100%;
    background:#F8F7F2;
    color:#040E0F;
    text-align:center;
    p{
      color:#4C4C4C;
      border-top:1px solid #EBEAE6;
      padding:15px 5%;
    }
  }
  ul{
    position:absolute;
    left:0;
    top:100px;
    width:100%;
    background:#F8F7F2;
    li{
      position:relative;
      border-top: 1px solid #EBEAE6;
      left:0;
      ul{
        position:relative;
        display:none;
        top:0;
        left:0;
        border-top:3px solid #EBEAE6;
        border-bottom:2px solid #EBEAE6;
        li{
          font-size:.9em;
          line-height:40px;
          border: none;
        }
      }
    }
  }
  .groupbutton{
    position:relative;
    width:100%;
    font-size:1em;
    text-align:left;
    padding-left:40px;
    border-top: 1px solid #EBEAE6;
    line-height:50px;
  }
  .startworkout{
    top:0;
    line-height:50px;
  }
  
  .icon-expand-list-down, .icon-expand-list-up{
    position:absolute;
    margin-left:16px;
    transition: all .5s;
    top:1px;
  }

  .icon-expand-list-up{
    -webkit-transform: rotate(-180deg) translateY(4px);
  }

  .icon-expand-list-down:before, .icon-expand-list-up:before{
    content: '\e601';
    line-height:50px;
  }
  
  .icon-exercise-delete{
    transition: all .5s;
    margin-right: 5px;
  }
  .icon-exercise-delete:before{
      content: "\e600";
      color:#C83029;
      font-size:1.1em;
      line-height:40px;

    }
  .active{
      -webkit-transform: translateX(-100px);
  }

  .confirm-delete{
    position:absolute;
    right:0;
    width:0;
    transition: all .5s;
    background:#C83029;
    color:#EBEAE6;
  }
  .delete-active{
    width:100px;

  }
}
#group-namer{
    input{
      position:absolute;
      left:0;
      top:100px;
      padding-left:16px;
      width:100%;
      height:50px;
      border:none;
      border-radius:0;
      box-sizing:border-box;
    }
  }
}