<span class='message top fade-in-out left' ng-if='submitted'>{{message}}</span>
<span class='message fade-in-out left' ng-class='view' ng-if='!submitted && !modal && exerciseForm.$invalid'>Be sure you're entering a number (and that it's not too outrageous).</span>
<form name='exerciseForm' class='exercise-inputs' ng-submit='submit("next")'>
  <!-- <input id="focus"></input>  -->
  <div class='input-wrapper'>
    <label class='left'>Exercise Name</label>
    <input type='text' id='exercise-name' ng-model='$parent.exercise.name' ng-focus='$parent.input = "exercise-name"'>   
  </div>
  <div class='input-wrapper'>   
    <label class='left'>Weight lifted (in lbs)</label> 
    <input type='number' name='exerciseWeight' id='exercise-weight' min='0' ng-maxlength='3' ng-model='$parent.exercise.weight' ng-focus='$parent.view = "top"; $parent.input = "exercise-weight"'> 
  </div>
  <div class='input-wrapper'>
    <label class='left'>Sets</label> 
    <input type='number' id='exercise-sets' min='1' ng-maxlength='3' ng-model='$parent.exercise.sets' ng-focus='$parent.view = "bottom"; $parent.input = "exercise-sets"'> 
  </div>
  <div class='input-wrapper'>
    <label class='left'>Reps per set</label> 
    <input type='number' id='exercise-reps' min='1' ng-maxlength='3' ng-model='$parent.exercise.reps' ng-focus='$parent.view = "bottom"; $parent.input = "exercise-reps"'> 
  </div>
  <button id='submit' type='submit'></button>
</form>