<div id='new-exercise'> 
  <header>
    <h1>New Exercise</h1>
    <button class='left' ng-click='slideView("view-slide-right","/")'>&lsaquo; Done</button>
    <button class='right'ng-click='slideView("view-slide-left","/new-exercise2")'>Next &rsaquo;</button>
  </header> 
    <ul class='exercise-inputs'>
      <li>
        <input type='text' name='exercisename' id='exercisename'>   
        <h3 class='right'>Exercise Name</h3> 
      </li>
      <li>     
        <input type='number' name='exerciseweight' id='exerciseweight'> 
        <h3 class='right'>Weight lifted (in lbs)</h3>  
      </li>
      <li>
        <input type='number' name='exercisesets' id='exercisesets'> 
        <h3 class='right'>Sets</h3> 
      </li>
      <li>
        <input type='number' name='exercisereps' id='exercisereps'> 
        <h3 class='right'>Reps per set</h3> 
      </li>
    </ul>
</div>
