<div id='edit-exercise' ng-controller='editExerciseCtrl'> 
  <header>
    <h1>Edit Exercise</h1>
    <button class='fade-in-out left' ng-if='exercise.name && exercise.weight && exercise.sets && exercise.reps' ng-click='slideView("view-slide-right","/groups")'>&lsaquo; Done</button>
  </header> 
    <ul class='exercise-inputs'>
      <li>
        <input type='text' id='exercisename' placeholder="What exercise are you doing?" ng-model='exercise.name' required>   
        <h3 class='left'>Exercise Name</h3> 
      </li>
      <li>     
        <input type='number' id='exerciseweight' placeholder="How much weight are you using? (numbers only)" ng-model='exercise.weight' required> 
        <h3 class='left'>Weight lifted (in lbs)</h3>  
      </li>
      <li>
        <input type='number' id='exercisesets' placeholder="How many sets are you doing? (numbers only)" ng-model='exercise.sets' required> 
        <h3 class='left'>Sets</h3> 
      </li>
      <li>
        <input type='number' id='exercisereps' placeholder="How many reps are you doing? (numbers only)" ng-model='exercise.reps' required> 
        <h3 class='left'>Reps per set</h3> 
      </li>
    </ul>
</div>
