<div id='groups-page'>
  <header>
    <h1>Groups</h1>
    <button class ='edit-group fade-in-out right' ng-show='showEdit()' ng-click='setGroup(); editMode = true;'>Edit</button>
    <button id='logout' class='left' ng-click='logout()'>Log Out</button>
    <button class ='edit-group fade-in-out right' ng-show='editMode' ng-click='setGroup(); editMode = false; $event.stopPropagation()'>Done</button>
    <button class ='add-group right' ng-click='slideView("view-slide-left","/new-group")'>+</button>
  </header>
  <div class="intro-text fade-in-out" ng-if='groupCount === 0'>
    <p>Looks like you don't have any exercise groups set up!</p>
    <p>In each group you'll be entering all the exercises you do in a day (Leg Day, Thursday Workout, etc).</p>
    <p>Click on the '+' in the top right or the button below to get started.</p>
    <p><button class="autofill" ng-click='autofill()'>Load Sample Workouts</button></p>
  </div>
  <ul class='fade-in-out' ng-show='groupCount > 0'>
    <li ng-repeat='(groupId, group) in allGroups' ng-init='Exercises = allExercises(groupId)'>
      <span class='icon-expand-list-up fade-in-out' ng-show='isGroupClicked(groupId) && !editMode'></span>
      <span class='icon-expand-list-down fade-in-out' ng-hide='isGroupClicked(groupId) || editMode'></span>
      <span class='icon-group-delete icon-slide-left-side' ng-show='editMode'></span>
      <p class='group-name'>{{group.name}}</p>
      <button class='group-select-button' ng-click='setGroup(groupId); $event.stopPropagation()'></button>
      <!-- <button class='click-area' ng-click='setGroup(groupId); $event.stopPropagation()'></button> -->
      <ul>
        <li class='slide-up-down left' ng-repeat='(exerciseId, exercise) in Exercises' ng-show='isGroupClicked(groupId) && !editMode'>
          <p class='exercise-name left'>{{exercise.name}}</p>
          <p class='exercise-info left'>{{exercise.weight}} lbs for {{exercise.sets}} sets of {{exercise.reps}} reps</p>
          <button class='exercise-edit right' ng-click='slideView("view-slide-left",groupId+"/edit-exercise/"+exerciseId);'>edit</button>
          <button class='icon-exercise-delete'></button>
          <button class='confirm-delete-exercise icon-slide-right-side' ng-show='isExerciseClicked(exerciseId) && !editMode' ng-click='removeExercise(groupId, exerciseId)'>DELETE</button>
          <button class='exercise-select-button' ng-click='setExercise(exerciseId); $event.stopPropagation();'></button>
        </li>
        <li class='slide-up-down' ng-show='isGroupClicked(groupId) && !editMode'>
          <button ng-click='countExercises(groupId); slideView("view-slide-left",groupId+"/new-exercise/"+exerciseCount)'>Add New Exercise</button>
        </li>
      </ul>
      <button class='group-action-button icon-slide-right-side right' ng-hide='editMode' ng-click='slideView("view-slide-left",groupId+"/workout")'>Start Workout</button>
      <button class='group-action-button icon-slide-right-side right' ng-show='editMode' ng-click='slideView("view-slide-left",groupId+"/edit-group");'>Edit Name</button>
      <button class='confirm-delete-group icon-slide-right-side' ng-show='isGroupClicked(groupId) && editMode' ng-click='removeGroup(groupId)'>DELETE</button> 
    </li>
  </ul>
</div>
      