 <div id='signin'> 
  <header> 
    <h1>Fitness</h1> 
  </header> 
      <p ng-show="error && !passReset" class="error left">{{error}}</p>
      <p ng-show='passReset' class='error left'>Forgot your password? <button ng-click='resetPassword()'> Click here!</button></p>
     <form class='login-info' ng-submit='login()'>
      <div class='input-wrapper'>
        <input type='email' name='email' id='email' ng-model='user.email'>   
        <h3 class='left'>Email</h3>   
      </div>
      <div class='input-wrapper'>
        <input type="password" ng-model="user.password" />
        <h3 class='left'>Password</h3>
      </div>
<!--       <div class='input-wrapper fade-in-out' ng-show="url === '/signup'">
        <input type='password' name='pass-confirm' id='pass-confirm' ng-model='passConfirm'> 
        <h3 class='left'>Confirm Password</h3>
      </div> -->
      <button type='submit'>Log In</button>
    </form>
    	<button id='button-signin' ng-click='login()'>Log in</button> 
     <button id='button-guest' ng-click='loginAnon()'>Guest*</button>
    <div class='additional-info fade-in-out'>
      <p>Need an account? <a href='#/signup' class='sign-up'>Sign up!</a></p>
	     <p>*As a guest, you don't need to provide an email/password, but your data will only be stored for 30 days or until you log out.</p>
    </div>
</div>