<div id='new-exercise' ng-controller='newExerciseCtrl'> 
  <header>
    <h1>New Exercise</h1>
    <button class='left' ng-click='addExercise(); slideView("view-slide-right","/groups")'>&lsaquo; Done</button>
    <button class='right' ng-click='slideView("view-slide-left",groupId+"/new-exercise")'>Next &rsaquo;</button>
  </header> 
    <ul class='exercise-inputs'>
      <li>
        <input type='text' id='exercisename' ng-model='exerciseName'>   
        <h3 class='left'>Exercise Name</h3> 
      </li>
      <li>     
        <input type='number' id='exerciseweight' ng-model='exerciseWeight'> 
        <h3 class='left'>Weight lifted (in lbs)</h3>  
      </li>
      <li>
        <input type='number' id='exercisesets' ng-model='exerciseSets'> 
        <h3 class='left'>Sets</h3> 
      </li>
      <li>
        <input type='number' id='exercisereps' ng-model='exerciseReps'> 
        <h3 class='left'>Reps per set</h3> 
      </li>
    </ul>
</div>
