<div id='workout' ng-controller='workoutCtrl'>
  <header>
    <h1>{{group.name} {{date}}</h1>
    <button class='left' ng-click='slideView("view-slide-right","/groups")'>&lsaquo; Groups</button>
  </header> 
    <ul>
      <li class='exercise' ng-repeat='exercise in allExercises'>
        <h1>{{exercise.name}}</h1>
        <h3 class='exercise-info fade-in-out'>{{exercise.weight}} lbs for {{exercise.sets}} sets of {{exercise.reps}} reps</h3>
        <h3 class='exercise-info'>next workout</h3>
        <button class='btn-failure' ng-click='failed(exercise.$id)'>I failed.</button>
        <button class='btn-success' ng-click='success(exercise.$id)'>I did it!</button>
      </li>
    </ul>
</div>